@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./colors.css";

h1, h2, h3, h4, h5, h6, p {
  color: rgba(var(--cta-text))
}

a {
  color: rgba(var(--cta-text))
}

input {
  background: rgba(var(--background)) !important;
  color: rgba(var(--cta-text));
}

input[type=checkbox]:checked {
  color: rgba(var(--secondary)) !important;
  background: rgba(var(--primary)) !important;
}

label {
  color: rgba(var(--cta-text));
}

button {
  color: rgba(var(--cta-text));
}

.light {
  --grape: 114, 35, 204;

  --background: 245, 245, 245, 1;

  --border: 212, 212, 212;
  --card: 255, 255, 255;

  --primary: 23, 23, 23;
  --secondary: 115, 115, 115;

  --cta: 139, 92, 246;
  --cta-active: 124, 58, 237;
  --cta-text: 255, 255, 255;

  background: rgba(var(--background)) !important;
}

.dark {
  --grape: 114, 35, 204;

  --background: 0, 0, 0, 1;

  --border: 38, 38, 38;
  --card: 23, 23, 23;

  --primary: 250, 250, 250;
  --secondary: 115, 115, 115;

  --cta: 99, 102, 241;
  --cta-active: 79, 70, 229;
  --cta-text: 255, 255, 255;

  background: rgba(var(--background)) !important;
}

/* This file is for your main application CSS */
@import "./fonts.css";
@import "./widgets/scrollbar.css";
